<main class="text-center">
<form class="form-signin" (submit)="submit()">
  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
       height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="Email" required autofocus>
  <input [(ngModel)]="name" name="name" type="text" class="form-control" placeholder="Nome" required autofocus>
  <input [(ngModel)]="surname"  name="surname" type="text" class="form-control" placeholder="Sobrenome" required autofocus>
  <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Senha" required>
  <input [(ngModel)]="passwordConfirm" name="passwordConfirm" type="password" class="form-control" placeholder="Confirmar Senha" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
</main>
