<h3>Informações do User</h3>
<form [formGroup]="profileForm" (submit)="profileSubmit()">
  <div class="mb-3">
    <label>Nome</label>
    <input formControlName="name" class="form-control" name="name">
  </div>
  <div class="mb-3">
    <label>Sobrenome</label>
    <input formControlName="surname" class="form-control" name="surname">
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input formControlName="email" class="form-control" name="email">
  </div>

  <button class="btn btn-outline-secondary">Save</button>
</form>

<h3 class="mt-4">Change Password</h3>
<form [formGroup]="passwordForm" (submit)="passwordSubmit()">
  <div class="mb-3">
    <label>Password</label>
    <input formControlName="password" type="password" class="form-control" name="password">
  </div>
  <div class="mb-3">
    <label>Password Confirm</label>
    <input formControlName="password_confirm" type="password" class="form-control" name="password_confirm">
  </div>

  <button class="btn btn-outline-secondary">Save</button>
</form>
